.flex-25 {
  width: 23%;
  position: relative;
}

.flex-75 {
  width: 73%;
  position: relative;
}

.flex-100 {
  width: 100%;
  position: relative;
}

.flex-child > input {
  background-color: #454d56;
  border-bottom: 1px solid #6f7878;
  border-left: 1px solid #454d56;
  border-right: 1px solid #454d56;
  border-top: 1px solid #454d56;
  box-sizing: border-box;
  color: white;
  font-weight: 300;
  font-size: 1em;
  margin: 0 0 2em 0;
  padding: 12px 20px;
  transition: 0.2s ease all;
  width: 100%;
}

.flex-child > label {
  color: #b8c1c1;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 1.3em;
  transition: 0.2s ease all;
}

.flex-child input:focus,
.flex-child textarea:focus,
.flex-child input.hasText {
  border: 1px solid #047cc0;
  outline: none;
  transition: all 0.25s linear;
  background-color: #272727;
  background-image: none;
}

.flex-child input:focus ~ label,
.flex-child textarea:focus ~ label,
.flex-child input.hasText ~ label,
.flex-child textarea.hasText ~ label {
  background-color: #272727;
  border-left: 1px solid #047cc0;
  border-right: 1px solid #047cc0;
  border-top: 1px solid #047cc0;
  color: #95c4f3;
  font-size: 0.6em;
  margin: -1px 0 0 0;
  padding: 0.5em 0.5em 0 0.5em;
  top: -1.3em;
}

.flex-child textarea {
  color: white;
  resize: none;
  background-color: #454d56;
  width: 95%;
  padding: 12px 20px;
  border: none;
  background-image: linear-gradient(transparent, transparent 49px, #6f7878 0px);
  background-size: 100% 50px;
  line-height: 50px;
  margin-bottom: 0.9em;
  font-size: 1.3em;
}

.flex-child input.hasText,
.flex-child textarea.hasText {
  border: 1px solid #047cc0;
  outline: none;
  transition: all 0.25s linear;
  background-color: #272727;
  background-image: none;
}

.flex-child input.invalid-field,
.flex-child textarea.invalid-field {
  border: 1px solid red;
}

.flex-child input:focus.invalid-field ~ label,
.flex-child textarea:focus.invalid-field ~ label,
.flex-child input.hasText.invalid-field ~ label,
.flex-child textarea.hasText.invalid-field ~ label {
  border: 1px solid red;
  border-bottom: none;
}
