.flex-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-flow: row wrap;
  margin: 10px 0;
  padding: 10px 0;
}

.submit-button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.submit-button:not(:disabled) {
  animation: enable .3s linear;
}

@keyframes enable {
  0% {
      transform: scale(1);
  }
  60% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}