.App {
  max-width: 800px;
  margin: 0 auto;
}

.App > header {
  text-align: center;
  color: white;
  margin-bottom: 50px;

}

.App > header h1{
  margin-bottom: .5em;
}

.App > header span {
  font-size: 0.8em;
  color: #ced0d3;
}

.nav-bar {
  margin: 15px 0;
  padding: 0;
  list-style: none;
  height: 100%;
  flex-flow: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar > li {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  padding: 10px 15px;
  text-transform: uppercase;
  border-right: 10px solid #dd5959;
  transform: skewX(-15deg)
}

.nav-bar > li:last-of-type {
  border-right: none;
}

.nav-bar > li > a {
  text-decoration: none;
  display: block;
  color: #dd5959;
  box-sizing: border-box;
  font-weight: 600;
  white-space: nowrap;
}

.nav-bar > li > a:hover,
.nav-bar > li > a.active {
  color: #35aaba;
  font-weight: bold;
}

.nav-bar > li.disabled {
  cursor: not-allowed
}

.nav-bar > li.disabled > a {
  pointer-events: none;
  color: #ccc;
}
